:root { 

.app-3xd6d0::before, .app-3xd6d0::after, .app-2CXKsg::after, .app-2CXKsg::before, .layers-OrUESM::before, .layers-OrUESM::after, .app-3xd6d0::before, .bg-1QIAus::after, .bg-1QIAus::before { content: ""; position: fixed; z-index: 1; pointer-events: none;}

.app-2CXKsg {
    &::after { bottom: 20px; right: 45%; width: 40px; height: 40px; background: url('https://i.pinimg.com/originals/8a/72/10/8a72102ba2232636a1ea76712c01c822.png'); background-size: 100%;filter: invert(100%);}
}

.layers-OrUESM {
    &::before { z-index: 0; bottom: 75px; right: 0; width: 20px; height: 50px; background: url('https://i.pinimg.com/originals/8a/72/10/8a72102ba2232636a1ea76712c01c822.png') no-repeat; background-size: 100%;filter: invert(100%);}
    &::after { bottom: 15px; right: 100px; width: 25px; height: 25px; background: url('https://i.pinimg.com/originals/8a/72/10/8a72102ba2232636a1ea76712c01c822.png') no-repeat; background-size: 100%;filter: invert(100%);}
}

.bg-1QIAus { 
    &::after { top: 45px; right: 385px; width: 30px; height: 30px; background: url('https://i.pinimg.com/originals/8a/72/10/8a72102ba2232636a1ea76712c01c822.png') no-repeat; background-size: 100%;filter: invert(100%);}
    
    // Song note
    &::before { z-index: 2; bottom: 30%; right: 430px; width: 30px; height: 40px;background: url('https://i.pinimg.com/originals/8a/72/10/8a72102ba2232636a1ea76712c01c822.png') no-repeat; background-size: 100%;filter: invert(100%);}
}

@media (max-width: 1350px) { .bg-1QIAus::before { display: none;}}

}