:root {
  #splash { 
      background: #333333;

      video { 
          display: none;
        
          & + .splash-text {
            top: 82px;

            &::before {
              content: ""; position: fixed;
              bottom: 40px; left: 0;
              width: 100%; height: 100%;
              background: url("https://media.giphy.com/media/xgC0dqgNE2b7KvH0W0/giphy.gif") center/50% no-repeat;
            }
          }
        }
  }
}